{% extends "base.html" %}

{% block content %}

<body>

  <!-- zoemcbride.com website code -->

  <body bgcolor = "#FFFFFF">
    <h1>Restaurant Recommendations</h1>
  


    <p class="opening-paragraph">
      Perhaps some relevant context: I am a vegetarian 🥕. Having said that, below are some favorites of mine that I would recommend to any of my friends though. I will try to limit to a handful restaurants or fewer per city in order to highlight my top recommendations!
    </p>
    
    <h3>California, USA</h3>
    <h4>San Francisco</h4>
    <p class="opening-paragraph">
      <ol>
        <li><a href="https://www.burmalove.co/">Burma Love</a></li>
        This is the place to go to for an upscale Burmese meal. Their tea leaf salad is to die for, and they have really great curries too. Bring a few friends and grab drinks while you wait for the food to come out!
      </p>
      <li><a href="https://taduethiopiankitchen.com/home-house-of-tadu/">House of Tadu</a></li>
      This is the place to go to for a casual, scrumptious and wholesome Ethiopian meal. Incredibly vegetarian friendly. Good prices too!
    </p>
      <li><a href="https://sfeltoro.com/">El Toro Taqueria</a></li>
      This is the place to go to for the grilled veggie burrito. Anyone who has spent time in the Mission will have an opinion one way or the other about their favorite burrito place. El Toro is undoubtedly mine. I like to add cheese, lime, spinach and lime juice to my burrito.
    </p>
      <li><a href="https://www.thecavaliersf.com/">The Cavalier</a></li>
      This is the place to go to for a decadent British meal. Definitely save this for a special occasion. The mashed potatoes are around $12 for the side dish, but absolutely worth every penny.
    </p>
  </ol>

  <h4>Los Angeles</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="https://graciasmadre.com/location-west-hollywood">Gracias Madre</a></li>
      This is the place to go to for vegan Mexican cuisine and margaritas. It is also a place to be seen. Dress up and have a fun time here!
    </p>
    <li><a href="https://order.bcdeli.com/">Bay Cities Italian Deli</a></li>
    This is the place to go to for a big sandwich to take to the beach or for a hike. Really fresh and made to order. You can order online (I've never tried this), but if you walk in expect to wait a bit. You'll need to grab a number and make your custom order. Cash or debit only.
  </p>
      <li><a href="https://www.ilfornocaffe.com/?gclid=CjwKCAjwjaWoBhAmEiwAXz8DBebP6gw-Cf1TXLVPU0zczQLkGbsW2uKY6GJqFERpMmvX5uybLXYD1RoCLBoQAvD_BwE">Il Forno</a></li>
    This is the place to go to for a no-frills Italian meal served with a smile. The restuarant has been a local establishment for years. Though I prefer to go for dinner, if you go at lunch, you may see some local celebrities. No promises though!
  </p>
</ol>

<h3>Israel</h3>
<h4>Tel Aviv</h4>
<p class="opening-paragraph">
    <ol>
      <li><a href="https://graciasmadre.com/location-west-hollywood">Restaurant</a></li>
      This is the place to go to for ..
    </p>
    <li><a href="https://order.bcdeli.com/">Restauarant</a></li>
    This is the place to go to for ...
  </p>
      <li><a href="https://www.ilfornocaffe.com/?gclid=CjwKCAjwjaWoBhAmEiwAXz8DBebP6gw-Cf1TXLVPU0zczQLkGbsW2uKY6GJqFERpMmvX5uybLXYD1RoCLBoQAvD_BwE">Il Forno</a></li>
    This is the place to go to for a no-frills Italian meal served with a smile. The restuarant has been a local establishment for years. Though I prefer to go for dinner, if you go at lunch, you may see some local celebrities. No promises though!
  </p>
</ol>

<h3>India</h3>
  <h4>Delhi</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="https://maps.app.goo.gl/fDj3Et6JYprFDfhcA">Amritsari Lassi</a></li>
      This is the place to go to for a classic lassi in Old Delhi. Despite being at a food stand, it is safe to drink and incredibly refreshing on a hot day.
    </p>
    <li><a href="https://www.naivedyamrestaurants.in/">Naivedyam</a></li>
    This is the place to go to for a delicious South Indian meal. Every kind of dosa imaginable. We went to their Hauz Khas Village location. Really tasty!
  </p>
    <li><a href="http://www.thebigchillonline.com/">Big Chill</a></li>
    This is the place to go to for a homely Italian meal.  This one is a recommendation passed to me from a friend!
  </p>
    <li><a href="https://maps.app.goo.gl/kM2Zyvk8g2CFKHbE7">Klap</a></li>
    This is the place to go to for tapas fusion food. It's a meal you will not forget, and the menu is incredibly vast! We had such a hard time deciding what to order here with so many great choices.
  </p>
  </ol>
  <h4>Jaipur</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="https://tapri.net/#_">Tapri Central</a></li>
      This is the place to go to for a budget-friendly, knock-your-socks off delicious Indian lunch and tea. Our tuk-tuk driver & friend recommended this place to us and it was clearly a local spot. You won't regret going here!
    </p>
    <li><a href="https://www.theforrestakitchenbar.com/">The Forresta Kitchen & Bar</a></li>
    This is the place to go to for a little AC and some good refreshing beers in the afternoon. Or if the weather is pleasant, they have a great outdoor space too.
  </p>
      <li><a href="https://rainbow-multi-cuisine-restaurant.business.site/?utm_source=gmb&utm_medium=referral">Rainbow Restaurant</a></li>
    This is the place to go to for thali! A good lunch option on the way back from the Jal Mahal or Amber Palace.
  </p>
        <li><a href="https://www.roasterycoffee.co.in/">Roastery Coffee House</a></li>
    This is the place to go to for your caffeine fix and maybe even a snack or lunch. Really yummy & tempting sweets, as well as comfortable AC for a hot day. They have some cool nooks to hang out in throughout the cafe. 
  </p>
  </ol>

  <h3>Nepal</h3>
  <h4>Kathmandu</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="https://maps.app.goo.gl/hEjvcnQSn5eqxpEH6">Vera Pizza</a></li>
      This is the place to go to for pizza that could be made in Rome. Seriously, this pizza was so good we went twice. 
    </p>
    <li><a href="https://maps.app.goo.gl/eKFdpuhmG1DAZhvHA">OR2K</a></li>
    This is the place to go to for your Israeli fix! A wide selection of healthy and scrumptious options, and solid Wi-Fi, if you want to hang a while. They ask you take your shoes off and you sit on the floor. Very cozy feeling.
  </p>
  </ol>
<!--
<h3>Bali, Indonesia</h3>
  <h4>Ubud</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="">Restaurant 1</a></li>
      This is the place to go to for...
    </p>
    <li><a href="">Restaurant 2</a></li>
    This is the place to go to for...
  </p>
  </ol>
  <h4>Permuteran</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="">Restaurant 1</a></li>
      This is the place to go to for...
    </p>
    <li><a href="">Restaurant 2</a></li>
    This is the place to go to for...
  </p>
  </ol>

<h3>Malaysia</h3>
  <h4>Kuala Lumpur</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="">Restaurant 1</a></li>
      This is the place to go to for...
    </p>
    <li><a href="">Restaurant 2</a></li>
    This is the place to go to for...
  </p>
  </ol>
  <h4>Ipoh</h4>
  <p class="opening-paragraph">
    <ol>
      <li><a href="">Restaurant 1</a></li>
      This is the place to go to for...
    </p>
    <li><a href="">Restaurant 2</a></li>
    This is the place to go to for...
  </p>
  </ol>




-->


<script data-goatcounter="https://zoemcbride.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>

{% endblock %}