
{% extends "base.html" %}

{% block content %}

<body>

  <!-- zoemcbride.com website code -->

    <h1>Side projects</h1>

    <!-- The below will create three equal-width columns across all devices-->
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="{{ url_for('running_analysis_blog') }}">Running Analysis Using my Strava Data - WIP!</a>
        </div>
        <div class="col">
          Spotify Analysis - Coming Soon!
        </div>
        <div class="col">
          Energy Analysis - Coming Soon!
        </div>
      </div>
    </div>

    {% endblock %}